@model Frontend.Models.Report

<h2>Incident Report Form</h2>

<form asp-controller="Report" asp-action="SubmitReport" method="post">
    <div class="form-group">
        <label>Date & Time</label>
        <input asp-for="DateTime" type="datetime-local" class="form-control" />
    </div>
    <div class="form-group">
        <label>Officer Name</label>
        <input asp-for="OfficerName" class="form-control" />
    </div>
    <div class="form-group">
        <label>Location</label>
        <input asp-for="Location" class="form-control" />
    </div>
    <div class="form-group">
        <label>Involved Persons</label>
        <input asp-for="InvolvedPersons" class="form-control" />
    </div>
    <div class="form-group">
        <label>Description</label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>
    <button type="submit" class="btn btn-success">Submit Report</button>
</form>

